{% extends 'common.html' %}

{% block title %}
{{ t }}
{% endblock %}

{% block body %}
<div class="col main pt-5 mt-3">
    <div class="back" style="background:lightyellow;padding:25px;">
<h3>ABOUT</h3>
<p style="font-size:17px;">
    This website is created to assist IDEA members.<br>
    If you encounter any issue, please kindly <a href="mailto: yh19920928@hotmail.com">send an email to me</a><br>
    <br>
    <u>CAN DO:</u> view schedule & search for events<br>
    <u>CANNOT DO:</u> anything else<br>

<br>
</p>
<h5><br>Display Logic</h5><br>
<ul style="font-size:14px">
    <li>Events are compared based on a simple string comparison. Similar events are displayed as one event.
        Therefore, a event may appear as multiple events due to discrepancies in writing of different unions.</li>
    <li>The schedule is refreshed every 24 hours at around 12:00 JST</li>
    <li>"Schedule of Next Month" will be under the tab of "Schedule of This Month" on the first day of each month.</li>
    <li>"Schedule of Next Month" will be available only after same schedule is uploaded on COM.</li>
</ul>
</div>
</div>
{% endblock %}