{% extends "common.html" %}

{% block title %}{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/tableTemplate.css')}}">
{% endblock %}

{% block body %}

<div class="col main pt-5 mt-3">
    <br>
            <!--            search function-->
    <div class="header">
        <h2 style="display:inline-block">{{ t }}</h2><p class="timestamp">Last Updated: {{ timestamp }}</p>
        <a href="{{ url_for('update') }}"><button>Update</button></a>
        <p>Wait 1-2 minutes, the page will be refreshed automatically</p>
        <div class="search-bar">コラムを選択
            <select id="search-by-col-name"></select>
        <input class="search" id="table-search" placeholder="検索したい文字列を入力"></div>

    </div>
            {% block table %}
            {% endblock %}
    </div>

    {% endblock %}
    {% block script %}
    <script src="{{ url_for('static', filename='js/fullTableSearch.js') }}"></script>
    {% endblock %}

